## User navigation 和 Core build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Re]leases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio Virtual File System
.vs/

## JETBRAINS Rider
.idea/

## VS Code
.vscode/

## Databases
*.db
*.database
*.sqlite

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/